.wrapper {
  width: 550px;
  margin: auto;
  border: 1px dashed cadetblue;
  padding: 8px;
}

.wrapper .heading {
  font-weight: 700;
  margin-bottom: 1rem;
}

.container {
  border: 1px solid;
  max-height: 150px;
  overflow: auto;
}

.allWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}
